page-photo-crop {
    .header-component {
        span {
            margin: auto;
            font-size: 2rem;
        }
        button {
            width: 70px;
            height: 35px;
            margin: auto; // background-color: transparent;
            font-weight: unset !important;
            span {
                font-size: 17px !important;
            }
        }
    }
    .zoom-slider {
        height: 80px;
        margin-top: 25px;
        .slider-title-row {
            color: #0db9f0;
            .slider-title {
                font-size: 1.7rem;
                text-align: left;
                margin-right: auto;
            }
            .slider-value {
                font-size: 1.7rem;
                text-align: right;
                float: right;
                margin-left: auto;
            }
        }
    }
    .custom-slider {
        -webkit-appearance: none;
        width: 100%;
        height: 4px;
        z-index: 1;
        background: #d8e0f3;
        border-radius: 2px;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }
    .custom-slider:hover {
        opacity: 1;
    }
    .custom-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        background-color: #0db9f0;
        cursor: pointer;
        border-radius: 50%;
    }
    .custom-slider::-moz-range-thumb {
        width: 20px;
        height: 20px;
        background-color: #0db9f0;
        cursor: pointer;
        border-radius: 50%;
    }
    .custom-slider::-ms-track {
        margin-top: 10px;
        -webkit-appearance: none;
        width: 100%;
        height: 4px;
        z-index: 1;
        background: #d8e0f3;
        border-radius: 2px;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }
    .custom-slider::-ms-thumb {
        width: 20px;
        height: 20px;
        background-color: #0db9f0;
        cursor: pointer;
        border-radius: 50%;
        z-index: 100;
    }
    .crop-setting {
        button {
            width: 100%;
            margin: auto;
            font-size: 17px;
            font-weight: unset !important;
        }
    }
}