page-register {
    .signin-title {
        margin-top: 20px;
        span {
            font-size: 3rem;
            color: black;
            font-weight: bold;
            text-align: right;
            margin: auto;
        }
        ion-icon {
            font-size: 5rem;
            margin: auto;
            margin-left: unset;
        }
    }
    .input-icon {
        margin: auto;
        font-size: 2.5rem;
    }
    .user-input-row {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .profile-image {
        span {
            margin: auto;
            margin-right: 10px;
        }
        ion-icon {
            margin: auto;
            font-size: 5rem;
            margin-left: unset;
        }
        img {
            width: 100px;
            height: 100px;
            border-radius: 50%;
        }
    }
    .photo-error {
        span {
            margin: auto;
            color: red;
        }
    }
    .signup-row {
        margin-top: 10px;
        margin-bottom: 10px;
        button {
            width: 100%;
            margin: auto;
            box-shadow: 1px 1px 1px 1px black; // border: 1px solid black;
            background-color: #cf2a27;
            color: white;
            font-size: 17px;
        }
    }
    .signin-first {
        margin-top: 50px;
    }
    .mat-error-show {
        display: block;
        color: #f44336;
        margin-top: 10px;
        font-size: 11px;
        position: absolute;
    }
}