page-forgot-password {
    .header-component {
        .home-title {
            margin: auto;
            font-size: 2.3rem;
        }
        ion-icon {
            margin: auto;
            font-size: 3rem;
            margin-left: unset;
        }
    }
    .forgot-des {
        margin: 15px 0px;
        span {
            margin: auto;
            text-align: center;
            font-size: 1.7rem;
        }
    }
    .user-input-row {
        margin-top: 10px;
        margin-bottom: 10px; // input{
        // text-align: center;
        // }
    }
    .signup-row {
        margin-top: 10px;
        margin-bottom: 10px;
        button {
            width: 100%;
            margin: auto;
            box-shadow: 1px 1px 1px 1px black; // border: 1px solid black;
            background-color: white;
            font-size: 17px;
        }
    }
    .signin-first {
        margin-top: 50px;
    }
    .input-icon {
        margin: auto;
        font-size: 2.5rem;
    }
}