page-order {
    .supplier-list {
        width: 80%;
        margin: auto;
        margin-top: 30px;
        border: 1px solid black;
        padding: 10px 5px;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .product-list {
        span {
            font-size: 17px;
        }

        ion-col {
            padding-bottom: 0px;
        }

        input {
            width: 100%;
        }

        .count-item {
            margin-top: 5px;

            span {
                width: 18px;
                height: 18px;
                background-color: black;
                color: white;
                font-size: 15px;
                text-align: center;
            }
        }

        .border-span {
            border: 1px solid black;
        }

        .price-span {
            font-size: 15px;
        }
    }

    .total-price-number {
        margin-top: 15px;

        span {
            font-size: 18px;
        }
    }

    .order-text {
        margin-top: 30px;

        textarea {
            width: 80%;
            height: 100px;
            font-size: 16px;
            border: 1px solid black;
            margin: auto;
        }
    }
}