page-order {
    .expantion-list {
        width: 97%;
        margin: 5px auto;
        font-size: 13px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);

        .exantion-title {
            background-color: #9fc5f8;
            padding: 5px 0px;

            span {
                padding-left: 7px;
                font-weight: bold;
                margin: auto;
                font-size: 1.8rem;
                text-align: center;
            }
        }

        .company-name {
            background-color: white;
            padding: unset;
            width: 96%;
            margin-left: auto;
            margin-right: auto; // span {

            //     // padding: 3px 3px;
            //     border: unset;
            //     width: 100%;
            //     height: 25px;
            // }
            .company-name-span {
                border: unset;
                width: 100%;
                height: 25px;
                margin: auto;
                text-align: center;
            }

            .item-price-span {
                border: 1px solid;
                width: 100%;
                height: 25px;
                margin: auto;
                text-align: center;
                border: 1px solid rgba(0, 0, 0, 0.3);
            }
        }

        input {
            // border: unset;
            width: 100%;
            height: 100%;
            text-align: center;
            margin: auto;
            border: 1px solid rgba(0, 0, 0, 0.3);
        }
    }

    .total-price {
        border-top: 1px solid black;
        border-bottom: 1px solid black;

        .left-element {
            margin-top: auto;
            margin-bottom: auto;
            margin-right: auto;
        }

        .right-element {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: auto;
            padding-right: 5px;
        }
    }

    .supplier-list {
        width: 80%;
        margin: auto;
        margin-top: 30px;
        border: 1px solid black;
        padding: 10px 5px;
        font-size: 16px;
    }
}