page-product-detail {
    .header-component {
        ion-icon {
            margin: auto;
            color: red;
            font-size: 2.3rem;
        }
    }
    .profile-image {
        margin-top: 0px;
        .image-row {
            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin: auto;
            }
        }
        .image-title {
            margin-top: 5px;
            span {
                font-size: 3rem;
                font-weight: 500;
                margin: auto;
                text-align: center;
            }
        }
    }
    .first-profile {
        margin-top: 50px !important;
    }
    .each-profile {
        font-size: 1.8rem;
        margin: 2px 0px;
        .border-row {
            padding: 5px 0px;
            border: 1px solid black !important;
        }
        .profile-name {
            margin: auto;
        }
        .profile-input {
            border: none;
            text-align: center;
            width: 100%;
        }
        .edit-icon {
            margin: auto;
        }
        .change-icon {
            margin: auto;
            color: green;
            font-size: 3rem;
        }
        .change-picture {
            margin: auto;
            text-align: center;
        }
        .trash-icon {
            color: red;
            font-size: 2.8rem;
            margin: auto;
        }
    }
    .first-letter-product-name {
        margin-top: 0px;
        margin-top: 10px;
        .border-line-circle {
            width: 100px;
            height: 100px;
            border: 1px solid black;
            border-radius: 50%;
            margin: auto;
            .full-circle {
                width: 60px;
                height: 60px;
                margin: auto;
                border-radius: 50%;
                background-color: black;
                span {
                    font-size: 1.8rem;
                    margin: auto;
                    color: white;
                }
            }
        }
    }
    .product-item {
        .add-icon {
            margin: auto;
            font-size: 3.5rem;
        }
        .search-icon {
            margin: auto;
            font-size: 3.5rem;
        }
        button {
            width: 100%;
            height: 35px;
            font-size: 1.6rem;
        }
    }
    .footer-component {
        height: 70px;
        .footer-icon {
            ion-icon {
                font-size: 3rem;
                margin: auto;
            }
        }
        .footer-span {
            span {
                margin: auto;
            }
        }
    }
}