<!--
  Generated template for the ProductDetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-row class="header-component">
    <ion-col col-2></ion-col>

    <ion-col col-8>
    </ion-col>

    <ion-col col-2>
      <ion-row class="full-height">
        <ion-icon name="md-trash" (click)="delete()"></ion-icon>
      </ion-row>
    </ion-col>

  </ion-row>

</ion-header>


<ion-content padding>
  <ion-row class="first-row" *ngIf="enableShow">
    <ion-row class="profile-image">
      <ion-row class="image-row">
        <img src="{{productData.img}}" (click)="changeProfilePicture()" />
      </ion-row>
      <ion-row class="image-title">
        <span>{{productData.productname}}</span>
      </ion-row>
    </ion-row>

    <ion-row class="each-profile first-profile">
      <ion-col col-1>
      </ion-col>
      <ion-col col-9>
        <ion-row class="full-height border-row">
          <span class="profile-name" *ngIf="typeState">
            Type : {{productData.type}}
          </span>
          <input type="text" placeholder="Type" class="profile-input" [(ngModel)]="productData.type" *ngIf="!typeState">
        </ion-row>
      </ion-col>
      <ion-col col-2>
        <ion-row class="full-height">
          <ion-icon name="md-create" class="edit-icon" (click)="editType()" *ngIf="typeState"></ion-icon>
          <ion-icon name="md-checkmark-circle" class="change-icon" (click)="changeType()" *ngIf="!typeState"></ion-icon>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="each-profile">
      <ion-col col-1>
      </ion-col>
      <ion-col col-9>
        <ion-row class="full-height border-row">
          <span class="profile-name" *ngIf="yearState">
            Year : {{productData.year}}
          </span>
          <mat-select placeholder="Year" [(ngModel)]="productData.year" name="year" *ngIf="!yearState">
            <mat-option *ngFor="let year of yearList" [value]="year">
              {{year}}
            </mat-option>
          </mat-select>
        </ion-row>
      </ion-col>
      <ion-col col-2>
        <ion-row class="full-height">
          <ion-icon name="md-create" class="edit-icon" (click)="editYear()" *ngIf="yearState"></ion-icon>
          <ion-icon name="md-checkmark-circle" class="change-icon" (click)="changeYear()" *ngIf="!yearState"></ion-icon>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="each-profile">
      <ion-col col-1>
      </ion-col>
      <ion-col col-9>
        <ion-row class="full-height border-row">
          <span class="profile-name" *ngIf="quantityState">
            Quantity : {{productData.quantity}} Ml
          </span>
          <input type="number" placeholder="Quantity" class="profile-input" [(ngModel)]="productData.quantity" *ngIf="!quantityState">
        </ion-row>
      </ion-col>
      <ion-col col-2>
        <ion-row class="full-height">
          <ion-icon name="md-create" class="edit-icon" (click)="editQuantity()" *ngIf="quantityState"></ion-icon>
          <ion-icon name="md-checkmark-circle" class="change-icon" (click)="changeQuantity()" *ngIf="!quantityState"></ion-icon>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="each-profile">
      <ion-col col-1>
      </ion-col>
      <ion-col col-9>
        <ion-row class="full-height border-row">
          <span class="profile-name" *ngIf="priceState">
            Price : {{productData.price}}$
          </span>
          <input type="number" placeholder="Quantity" class="profile-input" [(ngModel)]="productData.price" *ngIf="!priceState">
        </ion-row>
      </ion-col>
      <ion-col col-2>
        <ion-row class="full-height">
          <ion-icon name="md-create" class="edit-icon" (click)="editPrice()" *ngIf="priceState"></ion-icon>
          <ion-icon name="md-checkmark-circle" class="change-icon" (click)="changePrice()" *ngIf="!priceState"></ion-icon>
        </ion-row>
      </ion-col>
    </ion-row>

  </ion-row>
</ion-content>

<ion-footer>
  <ion-row class="footer-component">
    <ion-col col-3>
      <ion-row class="full-height" (click)="clickBack()">
        <ion-row class="footer-icon">
          <ion-icon name="md-arrow-round-back"></ion-icon>
        </ion-row>
        <ion-row class="footer-span">
          <span>BACK</span>
        </ion-row>
      </ion-row>
    </ion-col>
    <ion-col col-6></ion-col>
    <ion-col col-3>
      <ion-row class="full-height" (click)="gotoHome()">
        <ion-row class="footer-icon">
          <ion-icon name="ios-home"></ion-icon>
        </ion-row>
        <ion-row class="footer-span">
          <span>
            HOME
          </span>
        </ion-row>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-footer>