page-order-review {
    .expantion-list {
        width: 97%;
        margin: 5px auto;
        font-size: 13px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);
        .exantion-title {
            background-color: #9fc5f8;
            padding: 5px 0px;
            span {
                padding-left: 7px;
                font-weight: bold;
                margin: auto;
                font-size: 1.8rem;
                text-align: center;
            }
        }
        .company-name {
            background-color: white;
            padding: unset;
            width: 96%;
            margin-left: auto;
            margin-right: auto;
            .company-name-span {
                border: unset;
                width: 100%;
                height: 25px;
                margin: auto;
                text-align: center;
            }
            .item-price-span {
                border: 1px solid;
                width: 100%;
                height: 25px;
                margin: auto;
                text-align: center;
                border: none;
            }
            .check-order {
                width: 30px;
                margin: auto;
                mat-checkbox {
                    width: 20px;
                    margin: auto unset;
                    span {
                        font-size: 1.8rem;
                        font-weight: initial !important;
                        font-family: Georgia;
                        border: unset !important;
                    }
                    .mat-checkbox-label {
                        padding: unset;
                    }
                } // .item-number {
                //     font-size: 1.8rem;
                //     margin-top: auto;
                //     margin-bottom: auto;
                //     font-weight: initial !important;
                //     width: auto;
                //     width: 30px;
                //     border: unset !important;
                // }
            }
        }
        input {
            // border: unset;
            width: 100%;
            height: 100%;
            text-align: center;
            margin: auto;
            border: none;
        }
    }
    .total-price {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        .left-element {
            margin-top: auto;
            margin-bottom: auto;
            margin-right: auto;
        }
        .right-element {
            margin-top: auto;
            margin-bottom: auto;
            margin-left: auto;
            padding-right: 5px;
        }
    }
}