<!--
  Generated template for the OrderReviewPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-row class="header-component">
    <ion-col col-1></ion-col>

    <ion-col col-10>
      <ion-row class="full-height">
        <span class="home-title">
          Order Review
        </span> &nbsp;
        <ion-icon name="md-cart"></ion-icon>
      </ion-row>
    </ion-col>

    <ion-col col-1>
      <ion-row class="full-height">
      </ion-row>
    </ion-col>

  </ion-row>

</ion-header>


<ion-content>
  <ion-row class="first-row">
    <ion-row class="total-price">
      <ion-col col-6>
        <ion-row class="full-height">
          <span class="left-element">
            {{totalItemNumber}} Items
          </span>
        </ion-row>
      </ion-col>
      <ion-col col-6>
        <ion-row class="full-height">
          <span class="right-element">
            {{totalPrice}}$
          </span>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="expantion-list" [ngClass]="{'display-none':!list.enableShow, 'display-show':list.enableShow}"
      *ngFor="let list of alphaBeta; let alphaIndex = index;">
      <ion-row *ngIf="list.enableShow">
        <ion-row class="exantion-title">
          <span>
            {{list.companyname}}
          </span>
        </ion-row>

        <ion-row class="company-name" *ngFor="let comList of list.productList; let i = index">
          <ion-col col-3>
            <ion-row class="full-height">
              <ion-row class="check-order">
                <mat-checkbox checked="comList.ordered" [(ngModel)]="comList.ordered" (ngModelChange)="checkOrderState(alphaIndex, i)">{{comList.itemnumber}}</mat-checkbox>
              </ion-row>
            </ion-row>
          </ion-col>
          <ion-col col-5>
            <ion-row class="full-height">
              <span class="company-name-span">
                {{comList.productname}}
              </span>
            </ion-row>
          </ion-col>
          <ion-col col-4>
            <ion-row class="full-height">
              <span class="item-price-span">
                {{comList.itemprice}}$
              </span>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-row>
    </ion-row>

  </ion-row>
</ion-content>

<ion-footer>
  <ion-row class="footer-component">
    <ion-col col-3>
      <ion-row class="full-height">
        <ion-row class="footer-icon" (click)="gotoPreviousPage()">
          <ion-icon name="md-arrow-back"></ion-icon>
        </ion-row>
        <ion-row class="footer-span">
          <span (click)="gotoPreviousPage()">BACK</span>
        </ion-row>
      </ion-row>
    </ion-col>
    <ion-col col-4></ion-col>
    <ion-col col-5>
      <ion-row class="full-height">
        <ion-row class="footer-icon">
          <ion-icon name="ios-cart" (click)="orderProduct()"></ion-icon>
        </ion-row>
        <ion-row class="footer-span">
          <span (click)="orderProduct()">
            ORDER
          </span>
        </ion-row>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-footer>