page-order-review {
    .total-price {
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        padding: 5px 0px;

        margin-bottom: 10px;

        span {
            font-size: 18px;
        }
    }

    .each-order {
        margin-top: 5px;
        margin-bottom: 5px;

        .border-row {
            border: 1px solid black;
        }

        span {
            padding: 3px 0px;
        }
    }

    .order-detail {
        margin-top: 20px;

        span {
            font-size: 17px;
        }
    }
}