page-my-profile {
    ion-content {
        position: relative;
    }
    .header-component {
        ion-icon {
            margin: auto;
            color: red;
            font-size: 2.3rem;
        }
    }
    .profile-image {
        margin-top: 20px;
        .image-row {
            img {
                width: 100px;
                height: 100px;
                border-radius: 50%;
                margin: auto;
            }
        }
        .image-title {
            margin-top: 5px;
            span {
                font-size: 3rem;
                font-weight: 500;
                margin: auto;
                text-align: center;
            }
        }
    }
    .first-profile {
        margin-top: 50px !important;
    }
    .each-profile {
        font-size: 1.8rem;
        margin: 2px 0px;
        .border-row {
            padding: 5px 0px;
            border: 1px solid black !important;
        }
        .profile-name {
            margin: auto;
        }
        .profile-input {
            border: none;
            text-align: center;
            width: 100%;
        }
        .edit-icon {
            margin: auto;
        }
        .change-icon {
            margin: auto;
            color: green;
            font-size: 3rem;
        }
        .change-picture {
            margin: auto;
            text-align: center;
        }
    }
    .home-button-row {
        position: absolute;
        bottom: 10px;
        right: 0;
        width: 60px;
        .home-icon {
            ion-icon {
                font-size: 4rem;
                margin: auto;
            }
        }
        .home-title {
            span {
                margin: auto;
                text-align: center;
            }
        }
    }
    .footer-component {
        height: 70px;
        .footer-icon {
            ion-icon {
                font-size: 3rem;
                margin: auto;
            }
        }
        .footer-span {
            span {
                margin: auto;
            }
        }
    }
}