<!--
  Generated template for the SupplierAddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-row class="header-component">
    <ion-col col-3></ion-col>

    <ion-col col-6>
      <ion-row class="full-height">
        <span class="home-title">
          Add Supplier
        </span>
      </ion-row>
    </ion-col>

    <ion-col col-3>
      <ion-row class="full-height">
        <ion-icon name="md-person-add"></ion-icon>
      </ion-row>
    </ion-col>

  </ion-row>

</ion-header>


<ion-content padding>
  <ion-row class="first-row">

    <form #userProfile="ngForm" id="userProfile" (ngSubmit)="addSupplier(userProfile)" novalidate>

      <ion-row class="profile-image signin-first">
        <ion-col col-6>
          <ion-row class="full-height">
            <span>
              Add Picture
            </span>
          </ion-row>
        </ion-col>
        <ion-col col-6>
          <ion-row class="full-height">
            <ion-row>
              <ion-icon name="md-contact" (click)="uploadPicture()" *ngIf="userData.image==''"></ion-icon>
              <img src="{{userData.image}}" (click)="uploadPicture()" *ngIf="userData.image!=''">
            </ion-row>
          </ion-row>
        </ion-col>
        <ion-row class="photo-error" *ngIf="clickSignUp && userData.image==''">
          <span>
            Supplier picture is required.
          </span>
        </ion-row>
      </ion-row>

      <ion-row class="user-input-row">

        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Company Name" [(ngModel)]="userData.companyname" required name="companyname">

          <mat-error>
            Company Name is required.
          </mat-error>
        </mat-form-field>

      </ion-row>

      <ion-row class="user-input-row">

        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Name" [(ngModel)]="userData.name" required name="name">
          <mat-error>
            Name is required.
          </mat-error>
        </mat-form-field>

      </ion-row>

      <ion-row class="user-input-row">

        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Surname" [(ngModel)]="userData.surname" required name="surname">
          <mat-error>
            Surname is required.
          </mat-error>
        </mat-form-field>

      </ion-row>

      <ion-row class="user-input-row">

        <mat-form-field class="example-full-width">
          <input matInput type="text" placeholder="Phone Number" [formControl]="phoneControl" [(ngModel)]="userData.phonenumber"
            required name="phonenumber">

          <mat-error *ngIf="phoneControl.hasError('required')">
            Phone Number is required.
          </mat-error>

          <mat-error *ngIf="phoneControl.hasError('pattern') && !phoneControl.hasError('required')">
            Please insert a valid Phone Number.
          </mat-error>
        </mat-form-field>

      </ion-row>

      <!-- <ion-row class="user-input-row">

        <ion-row class="add-picture">
          <ion-col col-2>
            <ion-row class="full-height">
              <ion-icon name="md-add"></ion-icon>
            </ion-row>
          </ion-col>
          <ion-col col-10>
            <ion-row class="full-height" (click)="">
              <span class="picture-span">
                Add Picture
              </span>
            </ion-row>
          </ion-col>
        </ion-row>

      </ion-row> -->

      <button mat-rised-button id="add_supplier">Add Supplier</button>

    </form>
    
  </ion-row>
</ion-content>
<ion-footer>
  <ion-row class="footer-component">
    <ion-col col-3>
      <ion-row class="full-height">
        <ion-row class="footer-icon">
          <ion-icon name="ios-home" (click)="gotoHome()"></ion-icon>
        </ion-row>
        <ion-row class="footer-span">
          <span (click)="gotoHome()">HOME</span>
        </ion-row>
      </ion-row>
    </ion-col>
    <ion-col col-6></ion-col>
    <ion-col col-3>
      <ion-row class="full-height">
        <ion-row class="footer-icon">
          <ion-icon name="md-person-add" (click)="clickAdd()"></ion-icon>
        </ion-row>
        <ion-row class="footer-span">
          <span (click)="clickAdd()">
            ADD
          </span>
        </ion-row>
      </ion-row>
    </ion-col>
  </ion-row>
</ion-footer>